// Main Colors
$brandColor: #1a1830;
$accentColor: #000;
$darkGrey: #333;
$darkText: #333;
$lightText: #FFF;

// Form Colors
$formInputBackground: #FFF;
$buttonBackground: #FFF;
$formLabels: #666;
$formLabelBorder: #888;

// Misc Colors
$placeholderImg: #444;
$transparent: rgba(0, 0, 0, 0);
$errorColor: red;
$warningColor: blue;

// Media Queries
$breakTiny: 340px;
$breakSmall: 420px;
$breakMedium: 520px;
$breakLarge: 767px;