@import "../../../common/variables.scss";

.demoSection {
  color: lighten($darkText, 40);
  margin-bottom: 30px;
}
.demoText {
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 0;
}